body, ul, li,a {
 margin: 0;
 padding: 0;
 list-style: none;
}
.menu{
 background: rgba(44, 62, 80, 0.99);
}
.menu a{
 display: block;
 text-decoration: none;
 padding: 20px 30px;
 color: #fff;
 border: 1px solid #1d2531;
}
.menu li{
 position: relative;
}
.menu li ul{
 display: block;
 background: rgba(255, 0, 0, 0.12);
 max-height: 0;
 overflow: hidden;
 transition: all 0.3s ease;
}
nav{
  max-height:60px;
 transition: max-height 0.3s;
 overflow: hidden;
}
.menu-btn{
 background: #232d3b;
 text-align: center;
 cursor: s-resize;
}
.menu-btn img{
 vertical-align: middle;
 height: 50px;
}
.menu-open,
.menu .open > ul{
 max-height: 2000px;
}
.menu .open > .more img{
 transform: rotate(-90deg);
}
.more img{
 height: 55px;
 transition: transform 0.3s;
}
.more{
 background: rgba(0, 0, 0, 0.38);
 float: right;
 min-width: 10%;
 cursor: move;
}

@media all and (min-width: 1200px){
nav{
 max-height: 100%;
 overflow: visible;
}
.menu-btn{
 display: none;
}
.menu{
 text-align: center;
}
.menu a{
 width:9em;
 background: #232d3b;
}
.menu a:hover{
 background-color: #1ABC9C;
}
.menu > li{
 display: inline-block;
 margin: 0 2px;
}
.menu li ul{
 left: -9999px;
 position:absolute;
 overflow: visible;
 -webkit-transition: all 0.1s ease;
}
.menu > li > ul ul{
 top: 0;
}
.menu li:hover > ul{
 left:100%; 
}
.menu > li:hover > ul{
 left: 0;
}
.menu .open > ul{
 left:100%; 
}
.menu > li.open > ul{
 left: 0;
}
}
.box{
    height: 300px;
    background: hotpink;
}

.box p{
  padding: 30px;
  font-family:verdana;
  text-align:center;
  font-size:24px;
}
.box a{
  color:#fff;
  text-decoration:none;
}